{% extends 'layout.html' %}

{% block title %}
Topics
{% endblock %}

{% block content %}
<div class="topic_container">
    <h2 class="read_main_container_heading">All Topics</h2>

    <div class="topic_card_container">
        {% for topic in topics %}
        <div class="topic_card">
            <div class="topic_card_header">
                <h2 class="topic_card_heading">{{ topic.name }}</h2>
                <p class="topic_card_description">{{ topic.description }}</p>
            </div>
            <div class="topic_card_footer">
                <a href="/blog/tag/{{ topic.category }}" class="topic_card_button">Blogs</a>
                <p class="topic_card_description">{{ topic.posts }} posts</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}